.logoWrapper a {
  margin: 0 auto;
  max-width: calc(50vw);
  position: relative;
  display: flex;
  transform: translate(0, -50%);
  width: 200px;
  border-radius: 50%;
}

.logoWrapper {
  height: 150px;
}

.logoDesktop {
  width: 200px;
  max-width: calc(50vw);
  border-radius: 50%;
  animation-name: BoxGreenPulseLogo;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
